<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205766427957-8hf6u8e3rlg9cs80seufasqfhdkvq5rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205766427957-8hf6u8e3rlg9cs80seufasqfhdkvq5rb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205766427957-6jura9thfufoap80mdvqa5rgcn80b198.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Bl1ui2AmR-NeJ5rDgHP5pwPN8o8baoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>205766427957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-f1271</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-f1271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205766427957:ios:ec7e9a5663e9133238f87c</string>
</dict>
</plist>